In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import spearmanr
import datetime
from datetime import timedelta
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.frequent_patterns import apriori
import warnings
from scipy import stats
from sklearn import preprocessing, metrics, svm
from sklearn.linear_model import LogisticRegression
warnings.filterwarnings('ignore')
pd.set_option('display.min_rows', 30)
pd.set_option('display.max_rows',150)
pd.set_option('display.width', 1000)

# Useful classes to have easier access to data features
class ColumnsInput:
    barcode = 'ddc_barcode'
    ipcode = 'ddc_ipcode'
    machine = 'ddc_mch_code'
    machine_side = 'ddc_mch_side'
    event = 'ddc_ev_subcode'
    time = 'ddc_ev_timestamp'
    
    
class ColumnsOutput:
    c_machine = 'c_machine' 
    event_delta_time = 'event_delta_time'
    day = 'y-m-day'
    month = 'month'

In [2]:
df = pd.read_csv('Data/preprocessed_data_2022.csv')

In [15]:
df_per_machine = []
for mach in df[ColumnsInput.machine].unique():
    df_per_machine.append(df[df[ColumnsInput.machine] == mach])
df_per_machine[0].head()

      Unnamed: 0 ddc_barcode ddc_ipcode ddc_mch_code ddc_mch_side              ddc_ev_subcode     ddc_ev_timestamp  c_machine  month   y-m-day
0              0  9439809283      24453         C504            R  OP_PRESS_STOP_PAUSE_3_STOP  2022-10-10 00:00:00       True     10  22-10-10
1              1  9439809363      24453         C504            R  OP_PRESS_STOP_PAUSE_3_STOP  2022-10-10 00:00:00       True     10  22-10-10
13            13  9439808785      24453         C504            L             CURING_OFF_STOP  2022-10-10 00:00:00       True     10  22-10-10
2788        2788  9439808706      24453         C504            R              CURING_ON_STOP  2022-10-10 00:06:46       True     10  22-10-10
2789        2789  9439808706      24453         C504            R            CURING_OFF_START  2022-10-10 00:06:46       True     10  22-10-10

In [17]:
for df_m in df_per_machine:
    save = df_m.to_csv('Data/data_per_machine/2022/'+str(df_m[ColumnsInput.machine].unique()[0])+'.csv', index=False)

In [3]:
len(df[ColumnsInput.ipcode].unique())

337

In [4]:
for ipcode in df[ColumnsInput.ipcode].unique():
    save = df[df[ColumnsInput.ipcode] == ipcode]
    save_ = save.to_csv('Data/data_per_ipcode/2022/'+str(ipcode)+'.csv', index=False)